<a href="https://colab.research.google.com/github/moadahir/Dashboards/blob/COVID-Dashboard/COVID_19_dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('covid-data.csv')

In [ ]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44785 entries, 0 to 44784
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         44521 non-null  object
 1   continent                        44257 non-null  object
 2   location                         44785 non-null  object
 3   date                             44785 non-null  object
 4   total_cases                      44182 non-null  float64
 5   new_cases                        43982 non-null  float64
 6   new_cases_smoothed               43200 non-null  float64
 7   total_deaths                     44182 non-null  float64
 8   new_deaths                       43982 non-null  float64
 9   new_deaths_smoothed              43200 non-null  float64
 10  total_cases_per_million          43918 non-null  float64
 11  new_cases_per_million            43918 non-null  float64
 12  new_cases_smoothed_per_million   43135 non-null  float64
 13  total_deaths_per_million         43918 non-null  float64
 14  new_deaths_per_million           43918 non-null  float64
 15  new_deaths_smoothed_per_million  43135 non-null  float64
 16  new_tests                        15647 non-null  float64
 17  total_tests                      16022 non-null  float64
 18  total_tests_per_thousand         16022 non-null  float64
 19  new_tests_per_thousand           15647 non-null  float64
 20  new_tests_smoothed               17568 non-null  float64
 21  new_tests_smoothed_per_thousand  17568 non-null  float64
 22  tests_per_case                   16149 non-null  float64
 23  positive_rate                    16533 non-null  float64
 24  tests_units                      18374 non-null  object
 25  stringency_index                 37057 non-null  float64
 26  population                       44521 non-null  float64
 27  population_density               42502 non-null  float64
 28  median_age                       39952 non-null  float64
 29  aged_65_older                    39360 non-null  float64
 30  aged_70_older                    39745 non-null  float64
 31  gdp_per_capita                   39442 non-null  float64
 32  extreme_poverty                  26322 non-null  float64
 33  cardiovasc_death_rate            39967 non-null  float64
 34  diabetes_prevalence              41366 non-null  float64
 35  female_smokers                   31358 non-null  float64
 36  male_smokers                     30963 non-null  float64
 37  handwashing_facilities           18658 non-null  float64
 38  hospital_beds_per_thousand       36139 non-null  float64
 39  life_expectancy                  43963 non-null  float64
 40  human_development_index          38558 non-null  float64
dtypes: float64(36), object(5)
memory usage: 14.0+ MB